<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<a href="{% url 'home' %}" class="btn btn-info">Home</a>
<br>
<div class="container text-centered">
<h1>About</h1>
<p>Welcome to the random password generator website created by Orsy. If you would like to generate
    a password that will really stump those pesky hackers use the form!</p>
</div>